@font-face {
  font-family: "mario";
  src: url(../font/mario.ttf);
}

#corps {
  display: flex;
  flex-wrap: wrap;
}

.titre {
  font-family: "mario";
  font-size: 50px;
}

div img {
  width: 100%;
}
div img:hover {
  border: 6px solid white;
}

div {
  width: 14%;
}

.replay {
  border-radius: 10px;
background-color: #FFCC01;
color: white;
border-color: #FFF002;
font-weight: bold;
height: 50px;
font-family: "mario";
}
